.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  /* Frame 11 */

  /* Auto layout */
  align-items: center;
  padding: 30px 10px;


  background: rgba(253, 217, 102, 0.25);
  border-radius: 20px;



}


