@use '../../styles/var.scss';
@use '../../styles/mix.scss';

.description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.titleGrid {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #01457A;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

.procent {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: #01457A;
}

.subText {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #01457A;
}

.text {
  text-align: center;
  @include mix.text(400);
}