@use '../../styles/var.scss';
@use '../../styles/mix.scss';

.popupConteon {
  background-color: var.$WHITE;

  display: flex;
  flex-direction: column;
  padding: 40px 38px;
  gap: 40px;

  position: relative;
  max-width: 1290px;

  background: #FFFFFF;
  border: 1px solid #01457A;
  box-shadow: 0px 0px 25px rgba(142, 160, 173, 0.35);
  border-radius: 20px;
  margin: 45px;



  @include mix.text(400);



}

.description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}