@use '../styles/var.scss';
@use '../styles/mix.scss';

.main {
  padding: 141px 0 117px;
  display: flex;
  justify-content: center;
  background: linear-gradient(var.$WHITE, var.$LIGHT_BLUE);
  min-height: 100dvh;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1380px;
  background-color: var.$WHITE;
  box-shadow: var.$SHADOW;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 93px;


}







.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 83px;

  background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
  border-radius: 20px;




  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  color: #01457A;





}

.text2 {

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #01457A;


}


.grid {
  display: grid;
  width: 100%;
  gap: 80px;
}

.lineOne {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;
  z-index: 0;
}

.lineTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
}



.arrow {
  position: absolute;
  width: 30%;
  height: 27px;
  bottom: 0;
  left: 50%;
  z-index: -1;
  border: 2px solid #01457A;
  border-top: none;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 27px;

    background: #01457A;
    clip-path: polygon(10% 0, 90% 0, 50% 80%);
    transform: translate(-50%, 100%);
  }
}

.first {
  transform: translate(calc(-100% - 15px), 100%);
}

.second {
  transform: translate(15px, 100%);
}


.text {

@include mix.text(400)


}