@use '../../styles/var.scss';
@use '../../styles/mix.scss';

.item {
  display: flex;

  padding: 40px 29px 40px 38px;
  gap: 29px;
  width: 100%;
  border: 1px solid var.$BLUE;
  box-shadow: var.$SHADOW;
  border-radius: var.$RADIUS;
  position: relative;

  @media (max-width: 768px) {
    padding: 25px 16px 25px 16px;
    flex-direction: column;
    align-items: center;
  }
}




