@use '../../styles/mix.scss';

@mixin text($fw, $fz, $lh) {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  text-align: center;
  color: #01457A
}

.iconContainer {
  position: relative;
  width: 178px;
  height: 145px;  

  @media (max-width: 768px) {
    width: 100px;
  }
}

.iconNumber {
  position: absolute;
  right: 15%;
  bottom: 5%;
  @include text(700, 48px, 65px);

  @media (max-width: 768px) {
    @include text(700, 30px, 40px);
    right: 15%;
    bottom: 24%;
  }
}

.title {
  @include text(500, 28px, 38px);

  @media (max-width: 1200px) {
    @include text(500, 24px, 33px)
  }
  
  @media (max-width: 1024px) {
    @include text(500, 20px, 28px)
  }
  @media (max-width: 768px) {
    @include text(500, 18px, 24px)
  }
}

.subtitle {
  @include text(700, 28px, 38px);

  @media (max-width: 1200px) {
    @include text(700, 24px, 33px)
  }
  
  @media (max-width: 1024px) {
    @include text(700, 20px, 28px)
  }
  @media (max-width: 768px) {
    @include text(700, 18px, 24px)
  }
}

.text {
  text-align: center;
  @include mix.text(400);
}